@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255 251 254);
    --text: black;
  }

  :root.dark {
    --background: rgb(28 27 31);
    --text: white;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}
