@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFBFE;
    --card: #D0D0D0;
    --card-hover: #DFDFDF;
    --text: black;
    --hint: #555555;
    --success: #8fcf76;
    --fail: #f0965d;
    --overworld: #c7fbd0;
    --nether: #f1bbbb;
    --center: #ececec;
    --portal-gradient: linear-gradient(90deg, var(--overworld) 35%, var(--center) 51%, var(--nether) 65%);
    --hint-gradient: radial-gradient(closest-side, rgba(0,74,12,1) 0%, var(--background) 80%);
  }

  :root.dark {
    --background: #1C1B1F;
    --text: white;
    --card: #4f4f4f;
    --card-hover: #3f3f3f;
    --hint: #BBBBBB;
    --success: #227800;
    --fail: #ab3f00;
    --overworld: #004a0c;
    --nether: #440000;
    --center: #282828;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

.portal-bg {
  background: var(--portal-gradient);
}

.dimension-hint {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nether {
  --dim-color: var(--nether);
}

.overworld {
  --dim-color: var(--overworld);
}

.dimension-hint::after {
  width: 23rem;
  height: 10rem;
  background: radial-gradient(closest-side, var(--dim-color) 0%, var(--background) 100%);
  content: '';
  position: absolute;
  top: -3rem;
  z-index: -1;
}
